<div [class.fadein]="show" [hidden]="!show" class="bar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (mousedown)="choose('balloon'); $event.preventDefault()">
        <ion-icon slot="icon-only" name="balloon"></ion-icon>
      </ion-button>
      <ion-button color="dark" (mousedown)="choose('bulb'); $event.preventDefault()">
        <ion-icon slot="icon-only" name="bulb"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="dark" (mousedown)="choose('test', true); $event.preventDefault()">Test</ion-button>
      <ion-button color="dark" (click)="choose('accept')">Accept</ion-button>
      <ion-button color="dark" (click)="choose('close')">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>