<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accessory Bar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accessory Bar</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Don't like the accessory bar when the keyboard shows up? Check this out by clicking in the input below:</p>
  <ion-input autocomplete="off" autocorrect="off"></ion-input>
  <p>{{message}}</p>  
</ion-content>